<main class="wrapper__main">
<form id="js-form" class="wrapper__main--form" action="" method="post">
    <input id="user-serie" class="user-serie" type="text">
    <button id="search-button" class="search-button" type="button"><i class="fas fa-search"></i></button>
</form>
<section class="section-shows" id="section-shows">
    <ul id="shows-list" class="shows-list">
    </ul>
</section>
<section class="section-fav" id="section-fav">
    <p id="title-fav" class="title-fav">~Mis series favoritas~</p>
    <button id="remove-button" class="btn hidden" type="button">Reset 😮</button>
    <ul id="shows-list--favs" class="shows-list--favs">
    </ul>
</section>
</main>
